<div class="message message-<%= message.user.id %>">
  <h6> <%= message.user.handle %> said:</h6>
  <%= message.body %>
  <div class="message-timestamp"> Sent at <%= message.created_at %></div>
</div>
