<%last_message_sent_time = @user.last_message_sent_time %>
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.handle %>,</h1>
<p><%= Message.since(Time.now - 1.week).count %>  messages have been exchanged in the last week.</p>
<%if last_message_sent_time %>
  <p><%= Message.since(last_message_sent_time).count %> since your last message <%= time_ago_in_words(last_message_sent_time) %> ago.</p>
<% else %>
  <p>You haven't sent any messages yet! Why not try now?</p>
<% end %>
<p>Thanks for reading and have a great day!</p>
</body>
</html>
